body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: justify;
  background-color: #c0bebe
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #000000;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #c96a45; /* cor de hover */
}

main {
  padding: 20px 0;
}

.gallery {
  list-style: none;
  padding: 0;
}

.gallery-item {
  margin-bottom: 20px;
}

.foto-com-borda {
  border-radius: 10px;
  border: 2px solid #000;
}

footer {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #333;
}
